<!DOCTYPE html>
<html>
<head>
  <title>Create New Flat</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

  <%= form_for(@flat) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :price_per_night %>
  <%= f.text_field :price_per_night %>
  <%= f.label :number_of_guests %>
  <%= f.text_field :number_of_guests %>
  <%= f.submit %>
<% end %>

</body>
</html>
