<!DOCTYPE html>
<html>
<head>
  <title>Show Flat</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

  <nav class="navbar navbar-light bg-light d-flex justify-content-between flex-row">

    <%= link_to 'Simple Airbnb', flats_path%>

    <div class="d-flex flex-row justify-content-around align-items-center">
      <form class="form-inline mr-4">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <form class="form-inline">
        <button class="btn btn-outline-primary" type="button">Add Flat</button>
      </form>
    </div>
  </nav>

  <div class="card m-2" style="width: 100%;">
    <img class="card-img-top" src="https://source.unsplash.com/1600x900/?<%= @flat.name %>" alt="Card image cap">
    <div class="card-body d-flex flex-column justify-content-start align-items-start">
      <h2 class="card-title"><%= @flat.name %></h2>
      <h3 class="card-text"><%= @flat.address %></h3>
      <div class="d-flex flex-row justify-content-start">
        <i class="large material-icons">attach_money</i>
        <h4 class="card-text mr-3"><%=@flat.price_per_night%></h4>
        <i class="large material-icons">airline_seat_flat</i>
        <h4 class="card-text"><%=@flat.number_of_guests%></h4>
       </div>
    </div>

    <div class="card-footer">
      <div class="btn btn-link">
        <%= link_to 'Edit', edit_flat_path(@flat)%>
      </div>
      <div class="btn btn-link">
        <%= link_to "Remove",
              flat_path(@flat),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>

</body>
</html>
